/*Schriftart einbinden*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body * {
  color: #8B321F;
  font-family: arial;
  font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 22pt;
    font-weight:700;
    text-align: center;
    }

h2 {
font-size: 15pt;
font-weight:700;
text-align: center;
}

h3, h4, h5 {
font-size: 12pt;
font-weight:700;
text-align: left;
}

.rc-slider-track {
  background-color: #8B321F;
}

.rc-slider-dot-active {
  border-color: #8B321F;
}

.rc-slider-handle:hover, .rc-slider-handle:focus, .rc-slider-handle:active, .rc-slider-handle-dragging {
    border-color: #8B321F!important;
    box-shadow: none!important;
    }


.rc-slider-handle {
  background-color: #8B321F;
  border-color: #8B321F;
  border: solid 2px #8B321F;
}

.rc-slider-handle-active:active {
  border-color: #8B321F;
}

.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #121317;
}

/***********************************/
/*Headerbereich*/

#header_div {
display: flex;
width: calc(100% - 80px);
justify-content: space-between;
background-color: #BEC7C7;
padding: 20px;
margin: 20px;
}

#header_div > div:first-child, #header_div > div:nth-child(3) {
width: 17.5%;
}
#header_div > div:nth-child(2) {
width: 55%;
}
#header_div > div:first-child, #header_div > div:nth-child(2) {
    margin-right: 5%;
}


/***********************************/
/*Content*/

#content_div {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}


/***********************************/
/*Footerbereich*/

#footer {
width: calc(100% - 40px);
margin: 20px;
}

