/*Schriftart einbinden*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
background-color: #1a1818;
}
body * {
  color: #fff;
  font-family: arial;
  font-family: 'Quicksand', sans-serif;
}
.dash-dropdown * {
  color: #111!important;
}


h1 {
    font-size: 22pt;
    font-weight:700;
    text-align: center;
    }

h2 {
font-size: 15pt;
font-weight:700;
text-align: center;
}

h3, h4, h5 {
font-size: 12pt;
font-weight:700;
text-align: left;
}

.rc-slider-track {
  background-color: #8B321F;
}

.rc-slider-dot-active {
  border-color: #8B321F;
}

.rc-slider-handle:hover, .rc-slider-handle:focus, .rc-slider-handle:active, .rc-slider-handle-dragging {
    border-color: #8B321F!important;
    box-shadow: none!important;
    }


.rc-slider-handle {
  background-color: #8B321F;
  border-color: #8B321F;
  border: solid 2px #8B321F;
}

.rc-slider-handle-active:active {
  border-color: #8B321F;
}

.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #121317;
}

/***********************************/
/*Headerbereich*/

#header_div {
display: flex;
width: calc(100% - 80px);
justify-content: space-between;
background-color: #111;
border: 10px;
border-radius: 10px;
padding: 0 10px 20px;
margin: 20px;
}

#header_div > div:first-child, #header_div > div:nth-child(3) {
width: 17.5%;
}
#header_div > div:nth-child(2) {
width: 55%;
}
#header_div > div:first-child, #header_div > div:nth-child(2) {
    margin-right: 5%;
}


/***********************************/
/*Content*/
#content_div {
margin: 0 20px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 20px;
}

#content_div > div {
    background-color: #111;
    border-radius: 10px;
    border: 10px solid #111;
}

#earthquakeplot4 {
padding: 0 20px;

}
#earthquakeplot4 * {
    color: #fff;
    border-style: none!important;
}
#earthquakeplot4 tbody * {text-align: left;}
#earthquakeplot4 tbody tr:nth-child(even) td, #earthquakeplot4 tr:first-child *, #earthquakeplot4 tr:nth-child(2) *  {background-color: #1a1818;}
#earthquakeplot4 tbody tr:nth-child(odd) td {background-color: #111;}
#earthquakeplot4 td {font-size: 13px;}

#earthquakeplot4 .dash-filter--case {display: none;}

#earthquakeplot4 .previous-next-container *:not(.current-page) {background-color: transparent;}
.column-header-name {padding-left: 5px;}


/***********************************/
/*Footerbereich*/

#footer {
width: calc(100% - 40px);
margin: 20px;
}

